.container {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  padding: 30px 20px;
  scroll-snap-type: x mandatory;
  background: linear-gradient(135deg, #ffffff, #1f1f1f);

}

.container::-webkit-scrollbar {
  height: 8px;
}

.container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.container :global(a) {
  flex: 0 0 auto;
  min-width: 250px;
  max-width: 300px;
  scroll-snap-align: start;
  text-decoration: none;
  color: inherit;
  background: rgb(188, 188, 188);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container :global(a):hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}
